name: Build and Prepare Deploy

on:
  push:
    branches:
      - master
  workflow_dispatch:

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Print files in current commit
        run: |
          echo "Files in commit $GITHUB_SHA:"
          git show --name-only --pretty="" "$GITHUB_SHA"

      # ---------- Frontend ----------
      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 24

      - name: Install frontend dependencies
        working-directory: frontend
        run: npm ci

      - name: Build frontend
        working-directory: frontend
        run: npm run build

      - name: Delete remote deploy folder contents via Files API
        env:
          PA_TOKEN: ${{ secrets.PYTHONANYWHERE_API_TOKEN }}
        run: |
          BASE_URL="https://www.pythonanywhere.com/api/v0/user/torensa/files/path/home/torensa/torensa/deploy/dist"
          curl -X DELETE \
            -H "Authorization: Token $PA_TOKEN" $BASE_URL

      - name: Upload entire dist folder to PythonAnywhere
        env:
          PA_TOKEN: ${{ secrets.PYTHONANYWHERE_API_TOKEN }}
        run: |
          DIST_DIR="deploy/dist"
          BASE_URL="https://www.pythonanywhere.com/api/v0/user/torensa/files/path/home/torensa/torensa/deploy/dist"

          # Loop through all files in dist
          find "$DIST_DIR" -type f | while read FILE; do
            # Remove the leading deploy/dist/ to get relative path
            REL_PATH="${FILE#$DIST_DIR/}"

            echo "Uploading $REL_PATH"

            curl -X POST \
              -H "Authorization: Token $PA_TOKEN" \
              -F "content=@$FILE" \
              "$BASE_URL/$REL_PATH"
          done

      - name: Reload PythonAnywhere web app
        env:
          PA_TOKEN: ${{ secrets.PYTHONANYWHERE_API_TOKEN }}
        run: |
          curl -X POST \
            -H "Authorization: Token $PA_TOKEN" \
            "https://www.pythonanywhere.com/api/v0/user/torensa/webapps/torensa.pythonanywhere.com/reload/"
